body{
  background-color: #30322F;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../assets/index/Untitled.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  display: flex;
  border:  50px;
  border-bottom: 2px solid;
  margin-bottom: 15px ;
  margin: auto;
}
.nav{
  width: 100%;
  display:flex ;
  align-items: center;
  justify-content: space-evenly;
  font-size: 23px;
}

.nav a  {
  text-decoration: none;
  color: white;
  font-size: 20px;  
}
.nav a:hover{
  color:#F2A663;
  transition: 0.5 all ;
}
.links {
  display: flex;
  list-style: none;
  gap: 8rem;
}


.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.caixa{
  margin-top: 120px;
 display: flex;
 width: fit-content;
  border: 5px solid #30322F;
  background-color: #30322F;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 8px 5px 5px black;
}
.caixa h1 {
  text-align: center;
  font-size: 40px;

}

.cadastro {
  display: flex;
  list-style: none;
  color: white;
  justify-content: center;
  margin-right: 35px;
  font-size: 20px;
}
.cadastro a{
  text-decoration: none;
  color: white;
}
.caixa p{
  text-align: center;
  font-size: 20px;
}

.caixa input{
  width: 270px;

  border-radius: 25px;
  text-decoration: none;
  font-size: 17px;
}

.caixa button{
  display: flex;
  margin-left: 110px;
  font-size: 20px;
  border-radius: 12px ;
  background-color: #F2A663;
}

.cadastro a:hover{
  color: #F2A663;
  transition: 0.5 all;
}





.login{
  display: flex;
  list-style: none;
  color: white;
  justify-content: center;
  margin-right: 35px;
  font-size: 20px
}


.login a{
  text-decoration: none;
  color: white;
}
.caixa p{
  text-align: center;
}

.caixa input{
  width: 350px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 18px;
  
}


.caixa button{
  display: flex;
  width: 100px;
  margin-left: 125px;
  font-size: 17px;
  border-radius: 12px ;
  background-color: #F2A663;
  justify-content: center;
}

.conteudo select{
  display: flex;
  font-size: 17px;
  justify-content: center;
  border-radius: 8px;
}
.login a:hover{
  color: #F2A663;
  transition: 0.5 all;
} 